@keyframes mobile_menu_in {
    from {transform: translateX(-110%);}
    to {transform: translateX(0);}
}

@keyframes mobile_menu_out {
    from {left: 0; visibility: visible;}
    to {left: calc(-100% + 3rem); visibility: hidden;}
}