html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Public sans', sans-serif;
    line-height: 1.3;
}

.flex{
    display: flex;
    flex-direction: row;

    &--fd--c{
        flex-direction: column;
    }

    &--jc--sb{
        justify-content: space-between;
    }

    &--jc--c{
        justify-content: center;
    }

    &--ai--c{
        align-items: center;
    }

}

button, .button{
    text-decoration: none;
    padding: 0.875rem 2rem;
    border-radius: 3.125rem;
    background: linear-gradient(to right, $limeGreen, $rightCyan);
    color: $white;
    font-weight: 300;
    transition: .3s all ease-in-out;
    
    &:hover{
        opacity: 0.7;    
    }
}

.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}