html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Public sans', sans-serif;
    line-height: 1.4;
    color: $grayishBlue;
}

h1, h2, h3, h4, h5, h6{
    color: $darkBlue;
}

.flex{
    display: flex;
    flex-direction: row;

    &--2{
        flex: 2;
    }

    &--3{
        flex: 3;
    }

    &--fd--c{
        flex-direction: column;
    }

    &--jc--sb{
        justify-content: space-between;
    }

    &--jc--c{
        justify-content: center;
    }

    &--ai--c{
        align-items: center;
    }

}

.container{

    @include breakpoint-down(medium){
        padding-right: 1rem;
        padding-left: 1rem;
    }
    

    &--mx-width{
        max-width: $containerMaxWidth;
        margin: 0 auto;
    }

    &--padding-tb{
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
    }
    
    &--lightgray{
        background-color: $veryLightGray;
    }

    &--lightgreyblue{
        background-color: $lightGrayishBlue;
    }
}

button, .button{
    display: inline-block;
    text-decoration: none;
    padding: 0.875rem 2rem;
    border-radius: 3.125rem;
    background: linear-gradient(to right, $limeGreen, $rightCyan);
    color: $white;
    font-weight: 300;
    transition: .3s all ease-in-out;
    
    &:hover{
        opacity: 0.7;    
    }
}

.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}