.intro-section {
  @include breakpoint-down(medium) {
    > div {
      flex-direction: column;
    }
  }

  &__info {
    @include breakpoint-up(large) {
      padding-top: 10.625rem;
      padding-bottom: 10.625rem;
      padding-right: 6.25rem;
      padding-left: 2rem;
      flex: 2;
    }

    @include breakpoint-down(medium) {
      text-align: center;
      order: 2;
      padding-bottom: 3rem;
    }

    h1 {
      font-weight: 300;
      font-size: 2.5rem;
    }
  }

  &__picture {
    position: relative;
    flex: 3;
    min-height: 17.5rem;
    width: 100%;

    @media(min-width: 75em) and (max-width: 1800px){
      &::before, &::after{
        right: calc( (100vw - 1225px) / -2 );
      }
    }

    @include breakpoint-up(large) {
      flex: 3;
      &::before{
        background-image: url("../../images/bg-intro-desktop.svg");    
        background-size: 78.125rem;
        background-position: -60px -17.1875rem;
      }

      &::after{
        background-size: 45.9375rem;
        background-position: 2.8125rem -7.5rem;
        width: 100%;
        height: 120%;
      }
    }

    @include breakpoint-down(medium){
        height: 440px;

        &::before{
          background-image: url("../../images/bg-intro-mobile.svg");
          background-size: 100%;
          background-position: center center;
        }
  
        &::after{
          background-size: 340px;
          width: 100%;
          height: 100%;
          background-position: center -7.5rem;
        }
    }

    @include breakpoint-down(small) {
      order: 1;

      &::before{
        background-image: url("../../images/bg-intro-mobile.svg");
        background-size: 100%;
        background-position: center center;
      }

      &::after{
        background-size: 21.25rem;
        width: 100%;
        height: 100%;
        background-position: center -7.5rem;
      }
      
    }

    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("../../images/image-mockups.png");
      background-repeat: no-repeat;
    }
  }
}
