.latest-articles-section{
    h2{
        display: inline-block;
        font-weight: 400;
        font-size: 1.875rem;
        
        @include breakpoint-down(medium){
            width: 100%;
            text-align: center;
        }
    }

    &__articles{
        @include breakpoint-down(medium){
            flex-direction: column;
            align-items: center;

            &__article:not(:last-child){
                margin-bottom: 2.125rem;
            }
        }

        &__article{
            border-radius: 10px 10px 0 0;
            background-color: $white;
            width: 15.9375rem;

            &__author{
                font-size: .7rem;
            }

            > img{
                width: 100%;
                max-height: 170px;
                border-radius: 10px 10px 0 0;
            }

            > div{
                padding: 0 1.5rem;
            }

            h4{
                font-size: 1.125rem;
                font-weight: 500;
                margin: 0;
            }

        }
    }
}