.why-section{
    @include breakpoint-down(medium){
        text-align: center;
        &__whys{
            flex-direction: column;
        }
    }
    
    h2{
        font-weight: 500;
        font-size: 2rem;
    }

    &__whys{
        margin-top: 4.375rem;

        @include breakpoint-down(medium){
            &__why:not(:last-child){
                margin-bottom: 4rem;
            }
        }

        &__why{
            @include breakpoint-up(large){
                padding-right: 1.5625rem;
            }
        
            h3{
                font-weight: 400;
            }
        }
    }
}